<div class="kurKeliausite">
    <H3>Kur keliausite?</H3>
</div>


<form #forma="ngForm" (ngSubmit)="submit(forma.value)" class="form__input">
    <div class="form-group form__parent-div">
        <label for="cityFrom" class="form-label">Išvykti iš:</label>
        <input 
        placeholder="Vilnius International Airport"
        required
        id="cityFrom"
        list="cityFromList"
        class="form-control"
        ngModel
        name="cityFrom"
        #cityFrom="ngModel"
        
        type="text">
        <div class="airport-container-dropdown container" *ngIf="this.showDropdown">
            <div>
                <datalist id="cityFromList" class="airport">
                    <option *ngFor="let item of this.allAirportsInfo" value="{{item}}">
                </datalist>
            </div>
        </div>
        <label for="cityTo" class="form-label">Atvykti į:</label>
        <input
        placeholder="John F Kennedy International Airport"
        required 
        list="cityToList"
        id="cityTo"
        class="form-control"
        ngModel
        name="cityTo"
        #cityTo="ngModel"
        type="text">
            <datalist id="cityToList" class="airport">
                <option *ngFor="let item of this.allAirportsInfo" value="{{item}}">
            </datalist>
        <label for="dateFrom" class="form-label">Nuo: </label>
        <input 
        id="dateFrom"
        class="form-control"
        ngModel
        name="dateFrom"
        #dateFrom="ngModel"
        type="date">
        <label for="dateTo" class="form-label">Iki: </label>
        <input 
        id="dateTo"
        class="form-control"
        ngModel
        name="dateTo"
        #dateTo="ngModel"
        type="date">
        
    </div>
    <button
        (click)="onSubmit(forma);" 
        type="submit"
        class="btn btn-secondary pateiktiMygtukas">Pateikti</button>
</form>

<div class="rezultatas" *ngIf="viewMode">
    <!-- <h3>Pigiausias bilietas iš {{this.submitedCityFrom}} į {{this.submitedCityTo}}, yra {{this.resultPrice}}Eur {{this.resultDeparture}}.</h3> -->
    <h3>Jūsų pasiūlymas:</h3>
    <h4>Išvykimas iš: {{this.submitedCityFrom}}</h4>
    <h4>Atvykimas į: {{this.submitedCityTo}}</h4>
    <h4 class="ticketPrice">Bilieto kaina: {{this.resultPrice}}</h4>
    <h4>Skrydžio data: {{this.resultDeparture}}</h4>
    <button class="btn btn-secondary" (click)="RodytiRezultata()">Peržiūrėti pasiūlymą</button>
</div>


